

@media screen and (min-aspect-ratio: 1/1) and (max-width:799px){

    #tablero{
        display: flex;
        flex-wrap: wrap;
        padding: 126.5px;
        position: absolute;
        width: 640px;
        height: 230px;
        left:-30px;
        top: 10px !important;
      }

      .titulo-principal{
        position: absolute;
        width: 73px;
        height: 31px;
        left: 329px;
        top: 33px !important;
        
          }
        
          .titulo-secundario{
            position: absolute;
        width: 137px;
        height: 27px;
        left: 298px;
        top: 76px !important;
}}