* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-decoration: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    background-image: url("../../img/fondo-app.png");
    background-color:#203800;
    font-family: 'Inter';
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    width:100%;
    transition: all 0.5s;
}

/* navbar de arriba */
.navbar {
    position: absolute;
    width: 411px;
    height: 59px;
    left: 0px;
    top: 0px;
    }
     
/* navbar a */

.primero-a{
    margin-left: 12px;
    margin-right: 69px;
    margin-top: 17px;
    position: absolute;
  }
  
  .segundo-a{
    margin-left: 359.22px;
    margin-right: 69px;
    margin-top: 16px;
    position: absolute;
  }
  
/* navbar icon */
  
  .tamano{
    font-size: 30px;
    color: #99B8C4;
  }

  /* tablero para las cartas */

#tablero{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding: 19.5px;
    position: absolute;
    width: 411px;
    height: 516px;
    left: 0px;
    top: 146px;
}

#tablero i{
    width: 78px;
    height: 78px;
    line-height: 75px !important;
    color: black;
}

/* cartas */

.area-tarjeta,
.tarjeta,
.cara {
    cursor: pointer;
} 

.tarjeta {
    transform-style: preserve-3d;
    animation: iniciar 3s;
/* position: absolute;
width: 78px;
height: 78px; */
background-color: #f1f1f1;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    text-align: center;
    font-size: 15px;
    width: 78px;
    height: 78px;
}


.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 3px black;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trasera {
    background-color: #06988b;
    transform: rotateY(180deg);
}

.superior {
    background: linear-gradient(orange, darkorange);
}

/* titulos */

.titulo-principal{
    position: absolute;
    width: 91px;
    height: 31px;
    left: 161px;
    top: 53px;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.titulo-secundario{ 
position: absolute;
width: 139px;
height: 27px;
left: 137px;
top: 105px;
font-weight: 400;
font-size: 22px;
color: #FFFFFF;
}

/* quitar display */

.nodisp{
    display: none;
}

/* pop up */

#cartel-ganador{
    left: 59px;
    position: absolute;
    width: 291px;
    height: 235px;
    top: 268px;
    background: rgba(0, 225, 90, 0.89);
    border-radius: 41px;
}

#cartel-sonido {
    left: 57px;
    position: absolute;
    width: 291px;
    height: 235px;
    top: 225px;
    background: rgba(0, 225, 90, 0.89);
    border-radius: 41px;
}

#ganador{
font-weight: 700;
text-align: center;  
font-size: 24px;
color: #000000;
padding-top: 34px;
padding-bottom: 18px;
margin: 0;
}

#mensaje-sonido{
    font-weight: 700;
    text-align: center;  
    font-size: 24px;
    color: #000000;
    padding-top: 34px;
    padding-bottom: 18px;
    margin: 0;
    }

    #encendido, #apagado{
        position: absolute;
        background: #FF9900;
        box-shadow: 3px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 25.5px;
        font-weight: 700;
        font-size: 18px;
        color: #000000;
    }

    #encendido{
        width: 216px;
        height: 48px;
        left: 40px;
        top: 78px;
    }

    #apagado{
        width: 216px;
        height: 48px;
        left: 40px;
        top: 148px;
    }
    

#backToMenu, #reiniciar{
    position: absolute;
    background: #FF9900;
    box-shadow: 3px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 25.5px;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

#reiniciar{
    width: 216px;
    height: 48px;
    left: 40px;
    top: 78px;
}

#backToMenu{
    width: 216px;
    height: 48px;
    left: 40px;
    top: 148px;
}



@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}